@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");
@import "tailwindcss";

@theme {
  /* FONT */

  --font-silkscreen: "Silkscreen", "sans-serif";

  /* COLOR */

  /* ANIMATION */

  --animate-slideRight: slideRight 1s ease-in-out forwards;

  @keyframes slideRight {
    0% {
      transform: scaleX(0);
      opacity: 0%;
    }

    100% {
      transform: scaleX(1);
      opacity: 100%;
    }
  }

  /* ... */
}
