@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import "tailwindcss";

@theme {
  /* FONT */

  --font-silkscreen: "Silkscreen", "sans-serif";
  --font-orbitron: "Orbitron", "sans-serif";

  /* COLOR */

  --shadowCol: #e17100;

  /* ANIMATION */

  --animate-slideRight: slideRight 0.7s ease-in-out forwards;
  --animate-textShadow: textShadow 7s ease-in-out infinite alternate;
  --animate-fadeIn: fadeIn 1s ease-in-out;
  --animate-bounceIn: bounceIn 1s ease-in-out;

  @keyframes slideRight {
    0% {
      transform: scaleX(0);
      opacity: 0%;
    }

    100% {
      transform: scaleX(1);
      opacity: 100%;
    }
  }
  @keyframes textShadow {
    0% {
      filter: drop-shadow(var(--shadowCol) -1px 2px 2px);
    }

    100% {
      filter: drop-shadow(var(--shadowCol) 2px 2px 2px);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes bounceIn {
    0% {
      opacity: 0;
      transform: scale(0.3);
    }
    50% {
      opacity: 1;
      transform: scale(1);
    }
    70% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }

  /* ... */
}
